.container {
    background-color: #4F4C4D;
    margin: auto;
    max-width: 1600px;
    font-family: sans-serif;
    text-align: center;
  }

  .heading {
    color: #F87D39;
  }

  .tel {
    max-width: 700px;
    margin: auto;
    padding: 1rem;
    color: #F87D39;
    font-size: 1.5rem;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 5px #F87D39;
  }
  
  .nav-links {
    display: flex;
    max-width: 510px;
    margin: 3rem auto;
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 2rem;
  }
  .nav-link-text {
    color: #F87D39;
  }
  .site-title {
    font-size: 3rem;
    color: #F87D39;
    font-weight: 700;
    margin: 3rem 0;
  }

  @media screen and (max-width: 500px) {
    .nav-links {
      flex-direction: column;
    }
    .nav-link-item {
      margin-top: 1rem;
    }
  }